@def borderColor #eeeeee;

.codeCell {
	color: #5674b9 !important;
}

.headerCell {
	padding: 6px 6px 6px 16px;
}

.markerHeader {
	text-align: center !important;
}

.textCell {
	padding: 12px 16px 12px 16px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.language {
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
	border-radius: 12px;
	min-width: 14px;
	height: 16px;
	padding: 4px 3px 0 3px;
	border: 1px solid #666;
	color: #666;
	text-align: center;
	font: 11px Arial, sans-serif;
}

.closeGroup {
	float: right;
	cursor: pointer;
}

.emptyTableWidget {
	text-align: center;
	vertical-align: middle;
	padding-top: 10px;
	color: #464545;
}

.dataGridWidget {
	
}

.dataGridFirstColumn {
	/*border-left: 1px solid #c6c6c6;*/
}

.dataGridLastColumn {
	
}

.dataGridFooter {
	
}

.dataGridHeader {
	text-align: left;
	color: TITLE_GREY;
	font-size: 16px;
	text-shadow: none;
	
	background-color: FRAME_GREY;
	
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	/*border-bottom: 1px solid #a8a7a7;
	border-top: 1px solid #a8a7a7;*/
}

.dataGridCell {
	color: SUBTITLE_GREY;
	border-right: 1px solid borderColor;
	border-bottom: 1px solid borderColor;
	font-size: 14px;
	text-align: left;
	overflow: hidden;
	max-width: 200px;
	word-wrap: break-word;
	vertical-align: top;
}

.dataGridFirstColumnFooter {
	
}

.dataGridFirstColumnHeader {
/*	border-left: 1px solid #a8a7a7;*/
}

.dataGridLastColumnFooter {
	
}

.dataGridLastColumnHeader {
/*	border-right: 1px solid #a8a7a7;*/
}

.dataGridSortableHeader {
	cursor: pointer;
	cursor: hand;
}

.dataGridSortableHeader:hover {
	/*color: TRANSPARENT_GREY;*/
}

.dataGridSortedHeaderAscending {
	
}

.dataGridSortedHeaderDescending {
	
}

.dataGridEvenRow {
	
}

.dataGridEvenRowCell {
}

.dataGridOddRow {
	
}

.dataGridOddRowCell {
}

.dataGridHoveredRow {
	background-color: HOVER_GREY;
}

.dataGridHoveredRowCell {
	background-color: HOVER_GREY;
}

.dataGridKeyboardSelectedRow {
	background-color: SELECTION_GREY;
}

.dataGridKeyboardSelectedRowCell {
	background-color: SELECTION_GREY;
}

.dataGridSelectedRow {
	background-color: SELECTION_GREY;
}

.dataGridSelectedRowCell {
	background-color: SELECTION_GREY;
}

.dataGridKeyboardSelectedCell {
	border: selectionBorderWidth solid #d7dde8;
}