.versionItem {
	padding-left: 5px;
	vertical-align: middle;
	font-size: SMALL_MEDIUM;
}

.versionBadge {
	background-color: FRAME_GREY;
	color: DECORATOR_ORANGE;
	border-radius: 100px;
	width: 13px;
	height: 13px;
	text-align: center;
	vertical-align: middle;
	font-size: 13px;
	padding: 1px;
	display: inline-block;
	margin-bottom: 2px;
}

.cellTreeWidget {
}

.cellTreeEmptyMessage {
  padding-top: 16px;
  text-align: center;
}

.cellTreeItem {
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  zoom: 1;
}

.cellTreeItem:hover {
  background-color: HOVER_GREY;
}

.cellTreeItemImage {
  
}

.cellTreeItemImageValue {
  zoom: 1;
}

.cellTreeItemValue {
  padding-left: 3px;
  padding-right: 3px;
  color: TITLE_GREY;
  height: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cellTreeOpenItem {

}

.cellTreeTopItem {
  font-size: MEDIUM;
  color: TITLE_GREY;
  padding: 2px 13px 2px 10px !important;
}

.cellTreeTopItemImage {
  padding-right: 3px;
}

.cellTreeTopItemImageValue {
  padding-bottom: 1px;
}

.cellTreeKeyboardSelectedItem {
  background-color: SELECTION_GREY;
  outline: none;
}

.cellTreeSelectedItem {
  background-color: SELECTION_GREY;
  height: auto;
  overflow: visible;
  outline: none;
}

.cellTreeShowMoreButton {
  padding-left: 16px;
}
