.versionItem {
	padding-left: 5px;
	vertical-align: middle;
}

.cellTreeWidget {
}

.cellTreeEmptyMessage {
  padding-top: 16px;
  text-align: center;
}

.cellTreeItem {
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  zoom: 1;
}

.cellTreeItem:hover {
  background-color: #eee;
}

.cellTreeItemImage {
  
}

.cellTreeItemImageValue {
  zoom: 1;
}

.cellTreeItemValue {
  padding-left: 3px;
  padding-right: 3px;
  font-size: 15px;
  height: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cellTreeOpenItem {

}

.cellTreeTopItem {
  font-weight: normal;
  color: #282828 !important;
  padding: 2px 13px 2px 10px !important;
}

.cellTreeTopItemImage {
  
}

.cellTreeTopItemImageValue {
  padding-bottom: 1px;
}

.cellTreeKeyboardSelectedItem {
  color: #4A91D9 !important;
  outline: none;
}

.cellTreeSelectedItem {
  color: #4A91D9 !important;
  height: auto;
  overflow: visible;
  outline: none;
}

.cellTreeShowMoreButton {
  padding-left: 16px;
}
