.menuPopup {
	background-color: PANE_WHITE;
	border-radius: 5px;
	border: 1px solid WIREFRAME_GREY;
}

.menuBar {
	padding: 3px;
}

.menuItem {
	padding: 2px 5px;
	color: TITLE_GREY;
	cursor: pointer;
	font-size: SMALL;
}

.menuItemSelected {
	background-color: SELECTION_GREY;
	cursor: pointer;
}

@external menuSeparatorInner;
.menuSeparatorInner {
	height: 1px;
	padding: 0px;
	border: 0px;
	border-top: 1px solid #ccc;
	overflow: hidden;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 3px;
	margin-bottom: 2px;
}

@external gwt-MenuItemSeparator;
.gwt-MenuItemSeparator {
	/*padding-top: 3px;*/
	padding-bottom: 3px;
}

@external menuButton;
.menuButton {
	width: 16px;
	cursor: pointer;
	text-align: center;
	margin-left: 2px;
   	margin-right: 2px;
}

@external menuButton-down;
.menuButton-down {
	background-color: SELECTION_GREY;
	border-radius: 5px;
}

@external menuButton-down-hovering;
.menuButton-down-hovering {
	background-color: HOVER_GREY;
	border-radius: 5px;
}