.editor {
	font-size: 14px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding-bottom: 5px;
	padding-left: 9px;
	padding-right: 6px;
	padding-top: 4px;
}

.systemProperty {
	color: #1C1C1C !important;
}

@external .gwt-SplitLayoutPanel-HDragger ;
@sprite .gwt-SplitLayoutPanel-HDragger {
	gwt-image: "thumbVertical";
	background-color: #efefef;
	background-position: center center;
	background-repeat: no-repeat;
	height: auto;
	width: auto;
	cursor: col-resize;
}

@external .gwt-SplitLayoutPanel-VDragger ;
@sprite .gwt-SplitLayoutPanel-VDragger {
	gwt-image: "thumbHorizontal";
	background-color: #efefef;
	background-position: center center;
	background-repeat: no-repeat;
	height: auto;
	width: auto;
	cursor: row-resize;
}


@sprite .addButton {
	gwt-image: "addButton";
	background-position: 50%;
	background-color: #ddd;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: center;
	width: 100%;
	height: 31px;
	font-size: 24px;
	padding-left: 106px;
	color: #666;
	outline: none;
	
	margin-top: 5px;
}

@sprite .addButton:hover {
	gwt-image: "addButtonHover";
	background-position: 50%;
	background-color: #5674b9;
	color: #fff;
	cursor: pointer;
	width: 100%;
	height: 31px;
}

.headerCode {
	color: #097bfb;
}
.noItemsBackground {
	background-color: #efefef;
}