/* DEFINITIONS */
.gwt-PopupPanelGlass {
	background-color: #000;
	opacity: 0.3;
	filter: alpha(opacity = 30);
}

.simpleCheckbox {
	width: 20px;
	height: 20px;
	border-radius: 0px;
	background-color: #000;
}

.paddedText {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 19px;
	vertical-align: middle;
	color: #4f4e4e;
	font-weight: normal;
}

.paddedTextDisabled {
	color: #dedede;
}

.linkText {
	color: #5674b9 !important;
	cursor: pointer;
}

.listBox {
	float: left;
	font-size: 16px;
	color: #4f4e4e;
	height: 29px;
	border-radius: 5px;
	background-color: #fafafa;
	border-color: #999;
	outline: none;
}

.listBox:disabled {
	background-color: #ededed;
	border-color: #b7b6b6;
	color: #acabab;
}

.imageButton {
	cursor: pointer;
	outline: none;
}

/* TEXT BOX */
.textBox {
	padding: 5px;
	border-radius: 5px;
	background-color: #fafafa;
	box-shadow: 0px 0px 0px 0px;
	border: 1px solid #999999;
	color: #4f4e4e;
	
	height: 16px;
	font-size: 16px;
}

.textBox:focus {
	outline: none;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #61C5FA;
	border: 1px solid #5AB0DB;
}

.textBox:hover {
	border: 1px solid #999;
	border-radius: 5px;
}

.textBox:focus:hover {
	outline: none;
	box-shadow: 0px 0px 5px #61C5FA;
	border: 1px solid #5AB0DB;
	border-radius: 5px;
}

.textBox:disabled {
	background-color: #ededed;
	border-color: #b7b6b6;
	color: #acabab;
}

/** GRID **/
.verticalHeadersSingleItem {
	vertical-align: middle;
	text-align: left;
}

.verticalHeadersMultipleItem {
	vertical-align: top;
	text-align: left;
}

.verticalHeadersFieldItem {
	padding-top: 13px;
	vertical-align: top;
}

/** BUTTONS **/
.blueButton {
	background-color: #5674b9;
	border-radius: 5px;
	border: 1px solid #5674b9;
	padding: 6px;
	width: 98px;
	height: 35px;
	font-size: 18px;
	color: #eee;
}

.blueButton:hover {
	background-color: #31529d;
	cursor: pointer;
}

.grayButton {
	background-color: #bdbdbd;
	border-radius: 5px;
	border: 1px solid #bdbdbd;
	padding: 6px;
	width: 98px;
	height: 35px;
	font-size: 18px;
	color: #696969;
}

.grayButton:hover {
	background-color: #9d9d9d;
	cursor: pointer;
}

/** PROPERTY **/
.propertyLabel {
	font-size: 20px;
	color: #5e5e5e;
}

.propertyValue {
	padding: 5px;
	font-size: 20px;
	color: #5e5e5e;
	text-align: left;
}

/** PROPERTIES TABLE **/
.propertiesTableHeader {
	text-align: center;
}

.propertiesTable {
	font-size: 8px;
	text-align: left;
	border: none;
}

.propertiesTable td,.propertiesTable th {
	margin: 0;
	padding: 3px;
	border: none;
	font-size: 16px;
	color: #5e5e5e;
}

@sprite .buttonManage {
	gwt-image: "manage";
	background-color:#5674b9;
	border:1px solid #5674b9;
	border-radius:5px;
	text-align:center;
	width:155px;
	font-size:15px;
	padding-left:55px;
	height:40px;
	color:#eee;
}

@sprite .buttonManage:hover{
	gwt-image: "manage";
	background-color: #344e89 ;
	color: #eee;
	cursor: pointer;
	width:155px;
	height:40px;
}


.buttonRefresh {
	background-color: #5674b9;
	border-radius: 100px;
	border: 1px solid #5674b9;
	padding: 5px;
	height: 20px;
	width: 21px;
	color: #fff;
}

.buttonRefresh:hover {
	background-color: #31529d;
	border: 1px solid #31529d;
	cursor: pointer;
}

@sprite .buttonComputer {
	gwt-image: "computer";
	background-position: 0;
	background-color: #ddd;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: center;
	width: 322px;
	height: 100px;
	font-size: 24px;
	padding-left: 106px;
	color: #666;
}

@sprite .buttonComputer:hover {
	gwt-image: "computerHover";
	background-position: 0;
	background-color: #5674b9;
	color: #fff;
	cursor: pointer;
	width: 322px;
	height: 100px;
}

@sprite .buttonCloud {
	gwt-image: "cloud";
	background-position: 0;
	background-color: #ddd;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: center;
	width: 322px;
	height: 100px;
	font-size: 24px;
	padding-left: 106px;
	color: #666;
	vertical-align: middle;
}

@sprite .buttonCloud:hover {
	gwt-image: "cloudHover";
	background-position: 0;
	background-color: #5674b9;
	color: #fff;
	cursor: pointer;
	width: 322px;
	height: 100px;
}
