.expansionTable {
	border-style: solid;
	border-width: 1.0px;
	border-color: #8C8C8C;
	border-collapse: collapse;
	width: 100.0%;
}

.expansionHeader {
	background-color: #efefef; border-style : solid;
	border-width: 1.0px;
	border-color: #C2C2C2;
	padding-bottom: 8.0px;
	padding-left: 10.0px;
	padding-right: 8.0px;
	padding-top: 8.0px;
	overflow: hidden;
	border-style: solid;
}

.expansionValue {
	border-style: solid;
	border-width: 1.0px;
	border-color: #C2C2C2;
	padding-bottom: 8.0px;
	padding-left: 10.0px;
	padding-right: 8.0px;
	padding-top: 8.0px;
	overflow: hidden;
}

.emptyTableWidget {
	padding-top: 10px;
	color: #464545;
}

.dataGridWidget {
	
}

.dataGridFirstColumn {
	
}

.dataGridLastColumn {
	
}

.dataGridFooter {
	border-top: 2px solid #6f7277;
	padding: 3px 15px;
	text-align: left;
	color: #4b4a4a;
	text-shadow: #ddf 1px 1px 0;
}

.dataGridHeader {
	overflow: visible;
	text-align: left;
	color: #464545;
	font-size: 15px;
	text-shadow: none;
	background-color: #e9e9e9;
	padding: 6px;
	border-bottom: 1px solid #a8a7a7;
	border-top: 1px solid #a8a7a7;
}

.dataGridCell {
	color: #5A5A5A;
	/*border-right: 1px solid #C2C2C2;
	border-bottom: 1px solid #C2C2C2;*/
	font-size: 14px;
	padding: 8px 8px 8px 10px;
	text-align: left;
}

.dataGridFirstColumnFooter {
	
}

.dataGridFirstColumnHeader {
	/*border-left: 1px solid #a8a7a7;*/
	
}

.dataGridLastColumnFooter {
	
}

.dataGridLastColumnHeader {
	/*border-right: 1px solid #a8a7a7;*/
	
}

.dataGridSortableHeader {
	cursor: pointer;
}

.dataGridSortableHeader:hover {
	color: #6c6b6b;
}

.dataGridSortedHeaderAscending {
	
}

.dataGridSortedHeaderDescending {
	
}

.dataGridEvenRow {
	
}

.dataGridEvenRowCell {
	background: #ffffff;
}

.dataGridOddRow {
	
}

.dataGridOddRowCell {
	background: #ffffff;
}

.dataGridHoveredRow {
	background: #eee;
	cursor: pointer;
}

.dataGridHoveredRowCell {
	background: #eee;
}

.dataGridKeyboardSelectedRow {
	
}

.dataGridKeyboardSelectedRowCell {
	
}

.dataGridSelectedRow {
	color: #097bfb;
}

.dataGridSelectedRowCell {
	color: #097bfb;
}

/**
 * The keyboard selected cell is visible over selection.
 */
.dataGridKeyboardSelectedCell {
	border: selectionBorderWidth solid #d7dde8;
}