<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- <context-param> -->
	<!-- <param-name>org.jboss.weld.servlet.ConversationFilter.registered</param-name> -->
	<!-- <param-value>true</param-value> -->
	<!-- </context-param> -->

	<listener>
		<listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
	</listener>

	<!-- TMP file cleaning -->
	<listener>
	<listener-class>
	org.apache.commons.fileupload.servlet.FileCleanerCleanup
	</listener-class>
	</listener>

	<listener>
		<listener-class>org.cotrix.web.portlet.CotrixServletContextListener</listener-class>
	</listener>

	<filter>
		<filter-name>weldworkaround</filter-name>
		<filter-class>org.cotrix.web.portlet.WeldWorkaroundFilter</filter-class>
	</filter>

	<filter>
		<filter-name>authbarrier</filter-name>
		<filter-class>org.cotrix.security.AuthBarrier</filter-class>
	</filter>

	<servlet>
		<servlet-name>listServlet</servlet-name>
		<servlet-class>org.cotrix.web.server.MainServiceImpl</servlet-class>
	</servlet>

	<servlet>
	<servlet-name>importWizardFileUploadServlet</servlet-name>
	<servlet-class>org.cotrix.web.importwizard.server.FileUpload</servlet-class>
	<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
	<servlet-name>importWizardServiceServlet</servlet-name>
	<servlet-class>org.cotrix.web.importwizard.server.ImportServiceImpl</servlet-class>
	<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
	<servlet-name>importWizardReportDownloadServlet</servlet-name>
	<servlet-class>org.cotrix.web.importwizard.server.ReportDownload</servlet-class>
	<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
	<servlet-name>codelistManagerServlet</servlet-name>
	<servlet-class>org.cotrix.web.codelistmanager.server.ManagerServiceImpl$Servlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>codelistPublishServlet</servlet-name>
		<servlet-class>org.cotrix.web.publish.server.PublishServiceImpl</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>publishDownloadServlet</servlet-name>
		<servlet-class>org.cotrix.web.publish.server.DownloadServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>permissionServlet</servlet-name>
		<servlet-class>org.cotrix.web.permissionmanager.server.PermissionServiceImpl</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>listServlet</servlet-name>
		<url-pattern>/CodeListManager/main</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>importWizardFileUploadServlet</servlet-name>
		<url-pattern>/CodeListManager/fileupload</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>importWizardServiceServlet</servlet-name>
		<url-pattern>/CodeListManager/importService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>importWizardReportDownloadServlet</servlet-name>
		<url-pattern>/CodeListManager/reportDownload</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>codelistManagerServlet</servlet-name>
		<url-pattern>/CodeListManager/manager</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>codelistPublishServlet</servlet-name>
		<url-pattern>/CodeListManager/publish</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>publishDownloadServlet</servlet-name>
		<url-pattern>/CodeListManager/publishDownload</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>permissionServlet</servlet-name>
		<url-pattern>/CodeListManager/permissionService</url-pattern>
	</servlet-mapping>

	<filter-mapping>
		<filter-name>weldworkaround</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>authbarrier</filter-name>
		<url-pattern>/CodeListManager/*</url-pattern>
	</filter-mapping>
	
	
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>CodeListManager.html</welcome-file>
	</welcome-file-list>

</web-app>
