<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0">
      
	<!-- <context-param> -->
	<!-- <param-name>org.jboss.weld.servlet.ConversationFilter.registered</param-name> -->
	<!-- <param-value>true</param-value> -->
	<!-- </context-param> -->

	<listener>
		<listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
	</listener>

	<!-- TMP file cleaning -->
	<listener>
		<listener-class>
			org.apache.commons.fileupload.servlet.FileCleanerCleanup
		</listener-class>
	</listener>

	<listener>
		<listener-class>org.cotrix.web.portlet.CotrixServletContextListener</listener-class>
	</listener>
	
	<listener>
	<listener-class>org.cotrix.web.common.server.util.HttpServletRequestHolder</listener-class>
	</listener>

	<!-- <filter> -->
	<!-- <filter-name>slownetwork</filter-name> -->
	<!-- <filter-class>org.cotrix.web.test.SlowNetworkFilter</filter-class> -->
	<!-- </filter> -->

	<filter>
		<filter-name>weldworkaround</filter-name>
		<filter-class>org.cotrix.web.portlet.WeldWorkaroundFilter</filter-class>
	</filter>

	<filter>
		<filter-name>authbarrier</filter-name>
		<filter-class>org.cotrix.security.AuthBarrier</filter-class>
	</filter>

	<filter>
		<filter-name>transactional</filter-name>
		<filter-class>org.cotrix.common.tx.TransactionalFilter</filter-class>
	</filter>

	<servlet>
		<servlet-name>listServlet</servlet-name>
		<servlet-class>org.cotrix.web.server.MainServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ingestFileUploadServlet</servlet-name>
		<servlet-class>org.cotrix.web.ingest.server.FileUpload</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>ingestServiceServlet</servlet-name>
		<servlet-class>org.cotrix.web.ingest.server.IngestServiceImpl$Servlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>asyncIngestServiceServlet</servlet-name>
		<servlet-class>org.cotrix.web.ingest.server.AsyncIngestServiceImpl$Servlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>ingestReportDownloadServlet</servlet-name>
		<servlet-class>org.cotrix.web.ingest.server.ReportDownload</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>manageServlet</servlet-name>
		<servlet-class>org.cotrix.web.manage.server.ManageServiceImpl$Servlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>asyncManageServlet</servlet-name>
		<servlet-class>org.cotrix.web.manage.server.AsyncManageServiceImpl$Servlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>publishServlet</servlet-name>
		<servlet-class>org.cotrix.web.publish.server.PublishServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>publishDownloadServlet</servlet-name>
		<servlet-class>org.cotrix.web.publish.server.DownloadServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>usersServlet</servlet-name>
		<servlet-class>org.cotrix.web.users.server.UsersServiceImpl$Servlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>commonServlet</servlet-name>
		<servlet-class>org.cotrix.web.common.server.CommonServiceImpl$Servlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>listServlet</servlet-name>
		<url-pattern>/Cotrix/service/main</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ingestFileUploadServlet</servlet-name>
		<url-pattern>/Cotrix/service/fileupload</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ingestServiceServlet</servlet-name>
		<url-pattern>/Cotrix/service/ingestService</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>asyncIngestServiceServlet</servlet-name>
		<url-pattern>/Cotrix/service/asyncIngestService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ingestReportDownloadServlet</servlet-name>
		<url-pattern>/Cotrix/service/reportDownload</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>manageServlet</servlet-name>
		<url-pattern>/Cotrix/service/manageService</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>asyncManageServlet</servlet-name>
		<url-pattern>/Cotrix/service/asyncManageService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>publishServlet</servlet-name>
		<url-pattern>/Cotrix/service/publishService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>publishDownloadServlet</servlet-name>
		<url-pattern>/Cotrix/service/publishDownload</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>usersServlet</servlet-name>
		<url-pattern>/Cotrix/service/usersService</url-pattern>
	</servlet-mapping>
	
		<servlet-mapping>
		<servlet-name>commonServlet</servlet-name>
		<url-pattern>/Cotrix/service/common</url-pattern>
	</servlet-mapping>

	<!-- <filter-mapping> -->
	<!-- <filter-name>slownetwork</filter-name> -->
	<!-- <url-pattern>/*</url-pattern> -->
	<!-- </filter-mapping> -->
	
	<filter-mapping>
		<filter-name>weldworkaround</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>transactional</filter-name>
		<url-pattern>/Cotrix/service/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>authbarrier</filter-name>
		<url-pattern>/Cotrix/service/*</url-pattern>
	</filter-mapping>


	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>cotrix.html</welcome-file>
	</welcome-file-list>

</web-app>
