.gwt-PopupPanelGlass {
	background-color: #000;
	opacity: 0.3;
	filter: alpha(opacity =                 30);
}

.simpleCheckbox {
	width: 20px;
	height: 20px;
}

.paddedText {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 19px;
	vertical-align: middle;
	color: #333;
	font-weight: normal;
	color: #333;
}

.paddedTextDisabled {
	color: rgb(84, 84, 84);
}

.sectionTitle {
	font-weight: bold;
	color: black;
	font-size: 20px;
}

.listBox {
	float: left;
	font-size: 14px;
	color: #333;
	height: 29px;
	border-radius: 5px;
	background-color: #fafafa;
	border-color: #999;
	outline: none;
}

.listBox:disabled {
	background-color: rgb(235, 235, 228);
	color: rgb(84, 84, 84);
}

.imageButton {
	cursor: pointer;
	outline: none;
}

/* TEXT BOX */
.textBox {
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 0px 0px;
	border: 1px solid #999999;
}

.textBox:focus {
	outline: none;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #61C5FA;
	border: 1px solid #5AB0DB;
}

.textBox:hover {
	border: 1px solid #999;
	border-radius: 5px;
}

.textBox:focus:hover {
	outline: none;
	box-shadow: 0px 0px 5px #61C5FA;
	border: 1px solid #5AB0DB;
	border-radius: 5px;
}

/** GRID **/
.verticalHeadersSingleItem {
	vertical-align: middle;
}

.verticalHeadersMultipleItem {
	vertical-align: top;
}

.verticalHeadersFieldItem {
	padding-top: 13px;
	vertical-align: top;
}

/** PREVIEW **/
.previewHeader {
	background-color: #eee;
	margin: 0;
	border-color: #ccc;
	padding: 3px;
	border-width: 1px 1px 0 0;
	border-style: solid;
}

.preview {
	border-width: 0 0 1px 1px;
	border-spacing: 0;
	border-color: #ccc;
	background-color: white;
	border-collapse: collapse;
	color: #666;
	font-size: 8px;
	border-style: solid;
	text-align: center;
}

.previewCell {
	margin: 0;
	border-color: #ccc;
	padding: 3px;
	border-width: 1px 1px 0 0;
	border-style: solid;
}

/** BUTTONS **/
.blueButton {
	border: 1px solid #3063a1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 103px;
	font-size: 12px;
	font-family: arial, helvetica, sans-serif;
	padding: 8px 8px 8px 8px;
	text-shadow: 0px 0px 0 rgba(0, 0, 0, 0.3);
	font-weight: bold;
	text-align: center;
	color: #E8E8E8;
	background-color: #427EC7;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #427EC7),
		color-stop(100%, #518EE2));
	background-image: -webkit-linear-gradient(top, #427EC7, #518EE2);
	background-image: -moz-linear-gradient(top, #427EC7, #518EE2);
	background-image: -ms-linear-gradient(top, #427EC7, #518EE2);
	background-image: -o-linear-gradient(top, #427EC7, #518EE2);
	background-image: linear-gradient(top, #427EC7, #518EE2);
	filter: literal("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#427EC7, endColorstr=#518EE2)"
		);
}

.blueButton:hover {
	cursor: pointer;
	border: 1px solid #254d7e;
	background-color: #3165a5;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3165a5),
		color-stop(100%, #2572db));
	background-image: -webkit-linear-gradient(top, #3165a5, #2572db);
	background-image: -moz-linear-gradient(top, #3165a5, #2572db);
	background-image: -ms-linear-gradient(top, #3165a5, #2572db);
	background-image: -o-linear-gradient(top, #3165a5, #2572db);
	background-image: linear-gradient(top, #3165a5, #2572db);
	filter: literal("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3165a5, endColorstr=#2572db)"
		);
}

.grayButton {
	border: 1px solid #d7dada;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 103px;
	font-size: 12px;
	font-family: arial, helvetica, sans-serif;
	padding: 8px 8px 8px 8px;
	text-shadow: 0px 0px 0 rgba(0, 0, 0, 0.3);
	font-weight: bold;
	text-align: center;
	color: #7D7D7D;
	background-color: #f4f5f5;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f5f5),
		color-stop(100%, #dfdddd));
	background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: linear-gradient(top, #f4f5f5, #dfdddd);
	filter: literal("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd)"
		);
}

.grayButton:hover {
	cursor: pointer;
	border: 1px solid #bfc4c4;
	background-color: #d9dddd;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d9dddd),
		color-stop(100%, #c6c3c3));
	background-image: -webkit-linear-gradient(top, #d9dddd, #c6c3c3);
	background-image: -moz-linear-gradient(top, #d9dddd, #c6c3c3);
	background-image: -ms-linear-gradient(top, #d9dddd, #c6c3c3);
	background-image: -o-linear-gradient(top, #d9dddd, #c6c3c3);
	background-image: linear-gradient(top, #d9dddd, #c6c3c3);
	filter: literal("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d9dddd, endColorstr=#c6c3c3)"
		);
}

.propertyLabel {
	font-size: 16px;
}

.propertyValue {
	padding: 5px;
	font-size: 14px;
	color: #666;
}

/** PROPERTIES TABLE **/

.propertiesTableHeader {
	text-align: center;
}

.propertiesTable {
	border-width: 0 0 1px 1px;
	border-spacing: 0;
	border-color: #ccc;
	background-color: white;
	border-collapse: collapse;
	color: #666;
	font-size: 8px;
	border-style: solid;
	text-align: left;
}

.propertiesTable td,.propertiesTable th {
	margin: 0;
	border-color: #ccc;
	padding: 3px;
	padding-left: 10px;
	border-width: 1px 1px 0 0;
	border-style: solid;
}