.gwt-PopupPanelGlass {
	background-color: #000;
	opacity: 0.3;
	filter: alpha(opacity =         30);
}

.simpleCheckbox {
	width: 20px;
	height: 20px;
}

.propertyLabel {
	font-size: 16px;
}

.paddedText {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 19px;
	vertical-align: middle;
	color: #333;
	font-weight: normal;
	color: #333;
}

.paddedTextDisabled {
	color: rgb(84, 84, 84);
}

.listBox {
	float: left;
	font-size: 14px;
	color: #333;
	height: 29px;
	border-radius: 5px;
	background-color: #fafafa;
	border-color: #999;
	outline: none;
}

.listBox:disabled {
	background-color: rgb(235, 235, 228);
	color: rgb(84, 84, 84);
}

.imageButton {
	cursor: pointer;
	outline: none;
}

/* TEXT BOX */
.textBox {
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 0px 0px;
	border: 1px solid #999999;
}

.textBox:focus {
	outline: none;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #61C5FA;
	border: 1px solid #5AB0DB;
}

.textBox:hover {
	border: 1px solid #999;
	border-radius: 5px;
}

.textBox:focus:hover {
	outline: none;
	box-shadow: 0px 0px 5px #61C5FA;
	border: 1px solid #5AB0DB;
	border-radius: 5px;
}

/** GRID **/
.verticalHeadersSingleItem {
	vertical-align: middle;
}

.verticalHeadersMultipleItem {
	vertical-align: top;
}

.verticalHeadersFieldItem {
	padding-top: 13px;
	vertical-align: top;
}

.previewHeader {
	background-color: #eee;
	margin: 0;
	border-color: #ccc;
	padding: 3px;
	border-width: 1px 1px 0 0;
	border-style: solid;
}

.preview {
	border-width: 0 0 1px 1px;
	border-spacing: 0;
	border-color: #ccc;
	background-color: white;
	border-collapse: collapse;
	color: #666;
	font-size: 8px;
	border-style: solid;
	text-align: center;
}

.previewCell {
	margin: 0;
	border-color: #ccc;
	padding: 3px;
	border-width: 1px 1px 0 0;
	border-style: solid;
}

