/*body,table td,select {
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-size: small;
}

pre {
	font-family: "courier new", courier;
	font-size: small;
}

body {
	color: black;
	margin: 0px;
	border: 0px;
	padding: 0px;
	background: #fff;
	direction: ltr;
}

a,a:visited,a:hover {
	color: #0000AA;
}*/

@sprite .searchBackground {
	gwt-image: "search";
	background-repeat: no-repeat;
	background-position: 3px 50%;
}

.search {

	width: 100%;
	box-sizing: border-box;
	background-color: #f7f7f7;
	
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 0px 0px;
	border: 1px solid #999999;
	color: #4f4e4e;
	
	height: 24px;
	font-size: 16px;
}

.search:focus {
	background: none;
	width: 100%;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #61C5FA;
	border: 1px solid #5AB0DB;
	outline: none;
}