/* DEFINITIONS */
.gwt-PopupPanelGlass {
	background-color: #000;
	opacity: 0.3;
	filter: literal("alpha(opacity = 30)");
}

.wizardPanel {
	background-color: #f6f6f6;
	border: 1px solid #d1d1d1;
	border-spacing: 5px;
}

.simpleCheckbox {
	width: 20px;
	height: 20px;
	border-radius: 0px;
	background-color: #000;
}

.paddedText {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 19px;
	vertical-align: middle;
	color: #4f4e4e;
}

.paddedTextDisabled {
	color: #dedede;
}

.linkText {
	color: #5674b9 !important;
	cursor: pointer;
}

.listBox {
	float: left;
	font-size: 16px;
	color: #4f4e4e;
	height: 29px;
	border-radius: 5px;
	background-color: #fafafa;
	border-color: #999;
	outline: none;
}

.listBox option {
	font-size: 16px;
	color: #4f4e4e;
}

.listBox:disabled {
	background-color: #ededed;
	border-color: #b7b6b6;
	color: #acabab;
}

.imageButton {
	cursor: pointer;
	outline: none;
}

.missingValueText {
}

/** MAPPING **/
.mappingTable {
	border: 1px solid #d1d1d1;
	background-color: #f6f6f6;
}

.mappingTableNameHeader {
	vertical-align: middle;
	padding-top: 10px;
	width: 80px;
	text-align: left;
}

.mappingCell {
	padding: 5px;
	vertical-align: middle;
}

.mappingAttributeHeaderCell {
	border: 1px solid #d1d1d1;
	padding-left:12px;
	background-color: lightgray;
}

.mappingAttributeHeader {
	padding: 5px;
	font-size: 20px;
	color: black;
	text-align: left;
}

/* TEXT BOX */
.textBox {
	padding: 5px;
	border-radius: 5px;
	background-color: #fafafa;
	box-shadow: 0px 0px 0px 0px;
	border: 1px solid #999999;
	color: #4f4e4e;
	
	height: 16px;
	font-size: 16px;
}

.textBox:focus {
	outline: none;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #61C5FA;
	border: 1px solid #5AB0DB;
}

.textBox:hover {
	border: 1px solid #999;
	border-radius: 5px;
}

.textBox:focus:hover {
	outline: none;
	box-shadow: 0px 0px 5px #61C5FA;
	border: 1px solid #5AB0DB;
	border-radius: 5px;
}

.textBox:disabled {
	background-color: #ededed;
	border-color: #b7b6b6;
	color: #acabab;
}

/** GRID **/
.verticalHeadersSingleItem {
	vertical-align: middle;
	text-align: left;
}

.verticalHeadersMultipleItem {
	vertical-align: top;
	text-align: left;
}

.verticalHeadersFieldItem {
	padding-top: 13px;
	vertical-align: top;
}

/** BUTTONS **/
.blueButton {
	background-color: #5674b9;
	border-radius: 5px;
	border: 1px solid #5674b9;
	width: 98px;
	height: 35px;
	font-size: 18px;
	color: #eee;
	outline: none;
}

.blueButton:hover {
	background-color: #31529d;
	cursor: pointer;
}

.grayButton {
	background-color: #bdbdbd;
	border-radius: 5px;
	border: 1px solid #bdbdbd;
	width: 98px;
	height: 35px;
	font-size: 18px;
	color: #696969;
	outline: none;
}

.grayButton:hover {
	background-color: #9d9d9d;
	cursor: pointer;
}

/** PROPERTY **/
.propertyLabel {
	font-size: 20px;
	color: #5e5e5e;
}

.propertyValue {
	padding: 5px;
	font-size: 20px;
	color: #5e5e5e;
	text-align: left;
}

/** PROPERTIES TABLE **/
.propertiesTableHeader {
	font-size: 21px;
}

.propertiesTable {
	text-align: left;
	border: none;
	padding: 5px;
	border: 1px solid #d1d1d1;
}

.propertiesTable td,.propertiesTable th {
	font-size: 18px;
	color: #5e5e5e;
	border: 1px solid #d1d1d1;
}

.propertiesTable div {
	padding: 5px;
}

@sprite .buttonManage {
	gwt-image: "manage";
	background-color:#5674b9;
	border:1px solid #5674b9;
	border-radius:5px;
	text-align:center;
	width:155px;
	font-size:15px;
	padding-left:55px;
	height:40px;
	color:#eee;
	outline: none;
}

@sprite .buttonManage:hover{
	gwt-image: "manage";
	background-color: #344e89 ;
	color: #eee;
	cursor: pointer;
	width:155px;
	height:40px;
}


.buttonRefresh {
	background-color: #5674b9;
	border-radius: 100px;
	border: 1px solid #5674b9;
	padding: 5px;
	height: 20px;
	width: 21px;
	color: #fff;
	outline: none;
}

.buttonRefresh:hover {
	background-color: #31529d;
	border: 1px solid #31529d;
	cursor: pointer;
}

.buttonPreview {
	background-color: #5674b9;
	border-radius: 100px;
	border: 1px solid #5674b9;
	height: 26px;
	width: 26px;
	color: #fff;
	outline: none;
}

.buttonPreview:hover {
	background-color: #31529d;
	border: 1px solid #31529d;
	cursor: pointer;
}

@sprite .buttonComputer {
	gwt-image: "computer";
	background-position: 0;
	background-color: #ddd;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: center;
	width: 322px;
	height: 100px;
	font-size: 24px;
	padding-left: 106px;
	color: #666;
	outline: none;
}

@sprite .buttonComputer:hover {
	gwt-image: "computerHover";
	background-position: 0;
	background-color: #5674b9;
	color: #fff;
	cursor: pointer;
	width: 322px;
	height: 100px;
}

@sprite .buttonCloud {
	gwt-image: "cloud";
	background-position: 0;
	background-color: #ddd;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: center;
	width: 322px;
	height: 100px;
	font-size: 24px;
	padding-left: 106px;
	color: #666;
	outline: none;
}

@sprite .buttonCloud:hover {
	gwt-image: "cloudHover";
	background-position: 0;
	background-color: #5674b9;
	color: #fff;
	cursor: pointer;
	width: 322px;
	height: 100px;
}

@sprite .buttonDownload {
	gwt-image: "download";
	background-position: -10px 0px;
	background-color: #5674b9;
	border: 1px solid #5674b9;
	border-radius: 5px;
	text-align: center;
	width: 116px;
	font-size: 15px;
	padding-left: 41px;
	height: 40px;
	padding-right: 20px;
	color: #eee;
	outline: none;
}

@sprite .buttonDownload:hover {
	gwt-image: "download";
	background-position: -10px 0px;
	background-color: #344e89;
	color: #eee;
	cursor: pointer;
	width: 116px;
	height: 40px;
}


@sprite .buttonImport{
	gwt-image: "importIcon";
	background-color:#5674b9;
	border:1px solid #5674b9;
	border-radius:5px;
	text-align:center;
	width:220px;
	font-size:15px;
	padding-left:70px;
	height:40px;
	
	color:#eee;
}

@sprite .buttonImport:hover{
	gwt-image: "importIcon";
	background-color:#344e89;
	color:#eee;
	cursor:pointer;
	width:220px;
	height:40px;
}


@external .gwt-DisclosurePanel;
.gwt-DisclosurePanel {
	width: 100%;
	margin: 5px;
}

@external .gwt-DisclosurePanel-open;
.gwt-DisclosurePanel-open {
	
}

@external .gwt-DisclosurePanel-closed;
.gwt-DisclosurePanel-closed {
	
}

@external .gwt-DisclosurePanel .header;
.gwt-DisclosurePanel .header {
		float: right;
}


@external .gwt-DisclosurePanel .header;
.gwt-DisclosurePanel .header a,.gwt-DisclosurePanel .header td
{
	text-decoration: none;
	color: white;
	cursor: pointer;
	cursor: hand;
}

@external .gwt-DisclosurePanel .content;
.gwt-DisclosurePanel .content {
	/*border-left: 3px solid #e7e7e7;*/
	padding: 4px 0px 4px 8px;
	margin-left: 6px;
}

.errorPanel {
	border-radius: 5px;
	background-color: #4e4e4e;
	text-align: center;
	color: #eee;
}

.errorMessageContainer {
	vertical-align: middle;
	padding: 15px;
}

.errorMessage {
	text-align: center;
	font-size: 17px;
}

.errorMessage a {
	color: #64a1e0;
	text-decoration: none;
}

@external .gwt-SuggestBox;
.gwt-SuggestBox {
	/*padding: 5px 4px;
	border: 1px solid #ccc;
	border-top: 1px solid #999;
	font-size: 100%;
	font-family: Arial Unicode MS, Arial, sans-serif;*/
	
	padding: 5px;
	border-radius: 5px;
	background-color: #fafafa;
	box-shadow: 0px 0px 0px 0px;
	border: 1px solid #999999;
	color: #4f4e4e;
	
	height: 16px;
	font-size: 16px;
}

@external .gwt-SuggestBox;
.gwt-SuggestBox:focus {
	outline: none;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #61C5FA;
	border: 1px solid #5AB0DB;
}

@external .gwt-SuggestBox;
.gwt-SuggestBox:hover {
	border: 1px solid #999;
	border-radius: 5px;
}

@external .gwt-SuggestBox;
.gwt-SuggestBox:focus:hover {
	outline: none;
	box-shadow: 0px 0px 5px #61C5FA;
	border: 1px solid #5AB0DB;
	border-radius: 5px;
}

@external .gwt-SuggestBox;
.gwt-SuggestBox:disabled {
	background-color: #ededed;
	border-color: #b7b6b6;
	color: #acabab;
}

@external .gwt-SuggestBoxPopup;
.gwt-SuggestBoxPopup {
	
}

@external .gwt-SuggestBoxPopup .item;
.gwt-SuggestBoxPopup .item {
	padding: 2px 6px;
	color: #5a5a5a;
	cursor: default;
	/*font-size: 110%;*/
}

@external .gwt-SuggestBoxPopup .item-selected;
.gwt-SuggestBoxPopup .item-selected {
	background: #eee;
}

@external .gwt-SuggestBoxPopup .suggestPopupContent;
.gwt-SuggestBoxPopup .suggestPopupContent {
	background: white;
}

@external .gwt-SuggestBoxPopup .suggestPopupTopCenter;
.gwt-SuggestBoxPopup .suggestPopupTopCenter {
	border-top: 1px solid #bbb;
}

@external .gwt-SuggestBoxPopup .suggestPopupBottomCenter;
.gwt-SuggestBoxPopup .suggestPopupBottomCenter {
	border-bottom: 1px solid #bbb;
}

@external .gwt-SuggestBoxPopup .suggestPopupTopCenterInner;
.gwt-SuggestBoxPopup .suggestPopupTopCenterInner
{
	height: 1px;
	line-height: 1px;
}

@external .gwt-SuggestBoxPopup .suggestPopupBottomCenterInner;
.gwt-SuggestBoxPopup .suggestPopupBottomCenterInner
{
	height: 1px;
	line-height: 1px;
}

@external .gwt-SuggestBoxPopup .suggestPopupMiddleLeft;
.gwt-SuggestBoxPopup .suggestPopupMiddleLeft {
	border-left: 1px solid #bbb;
}

@external .gwt-SuggestBoxPopup .suggestPopupMiddleRight;
.gwt-SuggestBoxPopup .suggestPopupMiddleRight {
	border-right: 1px solid #bbb;
}

@external .gwt-SuggestBoxPopup .suggestPopupMiddleLeftInner;
.gwt-SuggestBoxPopup .suggestPopupMiddleLeftInner
	{
	width: 1px;
	line-height: 1px;
}

@external .gwt-SuggestBoxPopup .suggestPopupMiddleRightInner;
.gwt-SuggestBoxPopup .suggestPopupMiddleRightInner
	{
	width: 1px;
	line-height: 1px;
}

@external .gwt-SuggestBoxPopup .suggestPopupTopLeftInner;
.gwt-SuggestBoxPopup .suggestPopupTopLeftInner {
	width: 0px;
	height: 0px;
	zoom: 1;
}

@external .gwt-SuggestBoxPopup .suggestPopupTopRightInner;
.gwt-SuggestBoxPopup .suggestPopupTopRightInner {
	width: 0px;
	height: 0px;
	zoom: 1;
}

@external .gwt-SuggestBoxPopup .suggestPopupBottomLeftInner;
.gwt-SuggestBoxPopup .suggestPopupBottomLeftInner {
	width: 0px;
	height: 0px;
	zoom: 1;
}

@external .gwt-SuggestBoxPopup .suggestPopupBottomRightInner;
.gwt-SuggestBoxPopup .suggestPopupBottomRightInner {
	width: 0px;
	height: 0px;
	zoom: 1;
}

@external .gwt-SuggestBoxPopup .suggestPopupTopLeft;
.gwt-SuggestBoxPopup .suggestPopupTopLeft {
	background: url(images/circles.png) no-repeat 0px -6px;
	width: 5px;
	height: 5px;
}

@external .gwt-SuggestBoxPopup .suggestPopupTopRight;
.gwt-SuggestBoxPopup .suggestPopupTopRight {
	background: url(images/circles.png) no-repeat -5px -6px;
	width: 5px;
	height: 5px;
}

@external .gwt-SuggestBoxPopup .suggestPopupBottomLeft;
.gwt-SuggestBoxPopup .suggestPopupBottomLeft {
	background: url(images/circles.png) no-repeat 0px -11px;
	width: 5px;
	height: 5px;
}

@external .gwt-SuggestBoxPopup .suggestPopupBottomRight;
.gwt-SuggestBoxPopup .suggestPopupBottomRight {
	background: url(images/circles.png) no-repeat -5px -11px;
	width: 5px;
	height: 5px;
}

@sprite .searchBackground {
	gwt-image: "search";
	background-repeat: no-repeat;
	background-position: 3px 50%;
}

.searchBox {
	width: 100%;
	box-sizing: border-box;
	background-color: #f7f7f7;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 0px 0px;
	border: 1px solid #999999;
	color: #4f4e4e;
	
	height: 28px;
	font-size: 18px;
	-moz-box-sizing: border-box;
}

.searchBox:focus {
	background: none;
	width: 100%;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #61C5FA;
	border: 1px solid #5AB0DB;
	outline: none;
}

/** DIALOGS **/
.dialogBox {
	-moz-box-shadow: 0 0 7px 7px #999;
	-webkit-box-shadow: 0 0 7px 7px #999;
	box-shadow: 0 0 7px 7px #999;
	background-color: #fff;
	border-radius: 5px;
	padding: 20px;
}

.dialogTitle {
	color: #ff6600;
	font-size: 20px;
}

.dialogSubtitle {
	padding-top: 10px;
	color: #999;
	font-size: 15px;
}

.dialogTextfield {
	margin-top: 20px;
	color: #666;
	font-size: 15px;
}

.dialogLink {
	color: #64a1e0;
	font-size: 15px;
	text-decoration: none;
	cursor: pointer;
}

.dialogTextbox {
	color: #666;
	height: 40px;
	width: 100%;
	text-decoration: none;
	border-radius: 5px;
	font-size: 20px;
	margin-top: 5px;
	border: 1px solid #ddd;
	background-color: #e5e5e5;
}

.dialogTextboxInvalid {
	border-color: #B80000 !important;
}

.dialogSubmit {
	color: #fff;
	height: 40px;
	width: 100%;
	padding-left: 10px;
	text-decoration: none;
	border-radius: 5px;
	font-size: 17px;
	margin-top: 5px;
	border: 1px solid #ddd;
	background-color: #7085b6;
	cursor: pointer;
	outline: none;
}

.sugestionListBoxPanel {
	border-radius: 5px;
	background-color: #fafafa;
	box-shadow: 0 0 0 0;
	border: 1px solid #999;
	
}

.sugestionListBoxTextBox {
	border: none;
	height: 28px;
	box-sizing: border-box;
}

.sugestionListBoxButton {
	width: 19px;
	height: 27px;
	border: none;
	background: white;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}
