<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<listener>
		<listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
	</listener>

	<!-- Servlets -->
	<servlet>
		<servlet-name>managerServlet</servlet-name>
		<servlet-class>org.cotrix.web.codelistmanager.server.ManagerServiceImpl</servlet-class>
	</servlet>


	<servlet>
		<servlet-name>cdiProxyServlet</servlet-name>
		<servlet-class>org.cotrix.web.codelistmanager.server.CDIProxyServlet</servlet-class>
		<init-param>
			<param-name>targetServletClass</param-name>
			<param-value>org.cotrix.web.codelistmanager.server.ManagerServiceImpl</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>cdiProxyServlet</servlet-name>
		<url-pattern>/CotrixModuleManager/manager</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>CotrixModuleManager.html</welcome-file>
	</welcome-file-list>

</web-app>
