<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<listener>
		<listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
	</listener>
	

	<servlet>
		<servlet-name>cdiProxyServlet</servlet-name>
		<servlet-class>org.cotrix.web.importwizard.server.CDIProxyServlet</servlet-class> 
		<init-param>
			<param-name>targetServletClass</param-name>
			<param-value>org.cotrix.web.importwizard.server.FileUpload</param-value> 
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>cdiProxyServlet</servlet-name>
		<url-pattern>/CotrixModuleImport/fileupload</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>CotrixModuleImport.html</welcome-file>
	</welcome-file-list>

</web-app>
