.mappingCell {
	text-align:left;
	padding-left:32px;
	padding-right:10px;
}

.mappingAttributeTable {
	border: 1px solid #d1d1d1;
	width: 100%;
}

.mappingAttributeCell {
	border: 1px solid #d1d1d1;
	padding-left:12px;
}

