.mappingCell {
	text-align:left;
	padding-left:32px;
	padding-right:10px;
}

.mappingAttributeTable {
	border: 1px solid #d1d1d1;
	width: 100%;
}

.mappingAttributeCell {
	border: 1px solid #d1d1d1;
	padding-left:12px;
}

@sprite .buttonCsv {
	gwt-image: "csv";
	background-position: 22px 50%;
	background-color: #ddd;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: center;
	width: 322px;
	height: 100px;
	font-size: 45px;
	padding-left: 106px;
	color: #666;
	outline: none;
}

@sprite .buttonCsv:hover {
	gwt-image: "csvHover";
	background-position: 22px 50%;
	background-color: #5674b9;
	color: #fff;
	cursor: pointer;
	width: 322px;
	height: 100px;
}

@sprite .buttonSdmx {
	gwt-image: "sdmx";
	background-position: 22px 50%;
	background-color: #ddd;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: center;
	width: 322px;
	height: 100px;
	font-size: 45px;
	padding-left: 106px;
	color: #666;
	outline: none;
}

@sprite .buttonSdmx:hover {
	gwt-image: "sdmxHover";
	background-position: 22px 50%;
	background-color: #5674b9;
	color: #fff;
	cursor: pointer;
	width: 322px;
	height: 100px;
}
